@media (max-width:600px) {
    div.spring-summer-title{
        margin-left: 40px;
    }
    div.spring-summer-title-img{
        margin-left: 10px!important;
        margin-right: 0px!important;
    }
}