@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Mulish:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");


* {
  font-family: "Poppins", sans-serif;
}


body .slick-prev:before, body .slick-next:before{
  color: black;
}
.slick-track{
  margin-left: 0!important;
}